{{outlet}}
<div class="detail">

  <div class="detail-card">
    <div class="detail-card__title">Resource Information</div>
    <div class="user-org user-info">Category:</div>
    <div class="pledge-detail user-info">Resource:</div>
    <div class="pledge-detail user-info">Phone #:</div>
    <div class="pledge-detail user-info">Notes:</div>
    <div class="pledge-detail user-info">Website:</div>
    <div class="pledge-detail user-info">Address:</div>

    <div class="button-box">
      {{#link-to "admin.resources.edit" class="btn" }}Edit{{/link-to}}
    </div>
  </div>

</div>
