{{outlet}}
<div class="detail">
  <div class="detail-card">
    <div class="detail-card__title">Make a Pledge</div>
    {{#simple-form class="card__form" onsubmit=(action "addPledge") as | formValues |}}
      {{input class="form__input" type="text" required=true value=formValues.pledge placeholder="Pledge"}}
      {{input class="form__input" type="text" required=true value=formValues.date placeholder="End Date"}}
      <div class="button-box">
        <button type="submit" class="btn">Pledge</button>
      </div>
    {{/simple-form}}
  </div>
</div>
