.admin-links {
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;

  & a {
    padding: 1rem;
    border-right: 1px solid black;
  }
}

.grid {
  display: flex;

  &-left {
    flex-basis: 25%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  &-right {
    flex-grow: 1;
  }
}

.admin__title {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.admin-side__card {
  border-top: 1px solid black;
}

.user-name {
  text-align: center;
}

.detail-card {
  width: 50%;
  margin: 2rem auto;
  border: 1px solid black;

  &__title {
    font-size: 1.5rem;
    text-align: center;
  }
}

.user-info {
  padding: 0.3rem;
  margin: 0.2rem;
}

.category__list {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  border-top: 1px solid black;
}

.category__link {
  &-full {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: $c-primary;
  }
}
