.admin-links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #ECEFF1;

  & a {
    flex-grow: 1;
    max-width: 7rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background: $c-primary;
    color: $c-text;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);

    &:active {
      transform: translate(1px, 1px);
    }
  }
}

.flex-grow {
  flex-grow: 1;
}

.admin__content {
  padding: 1rem;
  background: #ECEFF1;
  // height: 100vh;
}

.hello {
  display: flex;
  justify-content: center;
  color: $c-primary;
  font-size: 2rem;
}

.grid {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  // width: 20rem;
  margin: 0 auto;

  &-left {
    max-width: 20rem;
    flex-grow: 1;
    // min-width: 20rem;
    // max-width: 20rem;
    margin-top: 2rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);

  }
  &-right {
    flex-grow: 1;
  }
}

.admin__title {
  width: 20rem;
  // max-width: 20rem;
  // min-width: 20rem;
  padding: 1rem;
  text-align: center;
  background: $c-primary;
  color: $c-text;
  font-size: 1.5rem;
}

.admin-side__card {
  width: 20rem;
  background: white;
  border-top: 1px solid $c-primary;
  flex-grow: 1;
  @media (max-width: 500px) {
    justify-content: center;
  }
}

.user-name {
  text-align: center;
}

.detail-card {
  width: 50%;
  min-width: 20rem;
  margin: 2rem auto;
  background: white;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);

  &__title {
    padding: 1rem;
    background: $c-primary;
    color: $c-text;
    font-size: 1.5rem;
    text-align: center;
  }
}

.user-info {
  padding: 0.3rem;
  margin: 0.2rem;
}

.category__list {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  border-top: 1px solid black;
}

.category__link {

  &:active {
    transform: translate(1px, 1px);
  }

  &-full {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: $c-primary;
  }
}

.danger {
  background: $c-emergency;
}
