$c-primary: blue;
$c-secondary: blue;
$c-emergency: rgba(207, 65, 65, 1.0);
$c-text: rgba(255, 255, 255, 1.0);


// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome/scss/font-awesome';
@import 'reset';
@import 'navbar';
@import 'homepage';
@import 'signup';
@import 'login';
@import 'admin';
@import 'about';
