$c-primary: blue;
$c-secondary: blue;
$c-emergency: rgba(207, 65, 65, 1.0);
$c-text: rgba(255, 255, 255, 1.0);



@import 'reset';
@import 'navbar';
@import 'homepage';
@import 'signup';
@import 'login';
