.app {
  display: flex;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
}

.sidebar {
  flex-basis: calc(30%);
  min-width: 16rem;
  padding: 1rem;
  color: $c-text-secondary;
  flex-grow: 1;
  text-align: center;

  &-header {
    margin: 1rem;
    padding: 1rem;
  }

  &-card {
    border: 1px solid $c-text-secondary;
  }

  &-primary {
    margin: 1rem 1rem -1rem 1rem;
    padding: 0.5rem;
    color: $c-emergency;
  }

  &-secondary {
    margin: 1rem;
    padding: 0 0.5rem;
    color: $c-text-secondary;
  }

  &-dropdown {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    border: 1px solid $c-text-secondary;
  }
}

.main-content {
  flex-basis: calc(70%);
  flex-grow: 1;
  color: $c-text-secondary;

  &--header {
  display: flex;


  &__text {
  padding: 0.5rem 1rem;
  }

    &__tag {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid $c-text-secondary;
    }
  }
}


.leaflet-container {
  height: 70vh;
}
