.hero {
  position: relative;

  &-image {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
  }
  &-text {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translate(-50%, -100%);
  color: $c-text;
  font-size: 2rem;
  }

  &-button {
    position: absolute;
    top: 16rem;
    left: 50%;
    transform: translate(-50%, -100%);
    background: $c-emergency;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
    padding: 1rem 2rem;
    color: $c-text;
    font-size: 1.5rem;
  }
}

.category {
  position: relative;
  padding: 1rem;
  height: 80vh;

  &-header {
    width: 75%;
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    font-size: 1.5rem;
    color: $c-text-secondary;
  }

  &-dropdown {

    &--text {
      position: absolute;
      top: 19rem;
      left: 50%;
      transform: translate(-50%, -100%);
      font-size: 2rem;
      border: 1px solid $c-text-secondary;
      color: $c-text-secondary;
    }
  }
}


.localcommunity {
      height: 80vh;

  &-nonprofit {
    color: $c-emergency;

  }
  &-posted {
    color: gray;
  }

  &-header {
    display: flex;
    justify-content: center;
    color: $c-text-secondary;
  }

  &-card {
    display: flex;
    justify-content: center;

    &--content {
      padding: 0.5rem;
    }
  }

  &-right {
  display: flex;
  justify-content: flex-end;
  color: $c-text-secondary;
  }
}
