.logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-125%, 50%);
  height: 2rem;
  object-fit: contain;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: $c-text-secondary;
  background: $c-text;
  z-index: 1;
  width: 100%;
  height: 4rem;

  &-left {
    display: flex;
    position: relative;
    margin-left: 2.3rem;
    a {
    &:hover {
      color: $c-text-tirshary;
      border-bottom: 1px solid $c-emergency;
      transition: border-bottom 500ms;
    }

    }
  }

  &-right {
    display: flex;
    padding: 1rem;


    a {
      margin: 1rem;

      &:hover {
      color: $c-text-tirshary;
      border-bottom: 1px solid $c-emergency;
      transition: border-bottom 500ms;
      }
    }
  }

  &-er--button {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 70%);
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
    padding: 0.5rem;
    // margin-top: -0.5rem;
    background: $c-emergency;
    color:$c-text;

    @media(min-width: 764px) {
      left: 75%;
    }


    a {

      &:hover {
      border: 0;
      }
    }
  }
}
