.card {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #ECEFF1;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);

  &__title {
    text-align: center;
    margin: 1rem 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.form__input {
  margin: 0.2rem;
  padding: 0.3rem;
  outline: none;
}

.button-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.btn {
  padding: 0.5rem;
  outline: none;
  background: $c-secondary;
  color: $c-text;
  border: 0;

  &:active {
    transform: translate(1px, 1px);
  }
}

.admin-entry {

}
