.card {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  background: white;
  // background: $c-secondary;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(#000, 0.4);
  margin-top: 11rem;

  &__title {
    text-align: center;
    margin: 1rem 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-height: 65vh;
    overflow: scroll;
  }
}

.form__input {
  margin: 0.2rem;
  padding: 0.3rem;
  outline: none;
  border: 0;
  border-bottom: 1px solid #ECEFF1;
  // background: #ECEFF1;
}

.button-box {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  padding-bottom: 1rem;
}

.btn {
  padding: 0.5rem;
  outline: none;
  background: $c-secondary;
  color: $c-text;
  border: 0;

  &:active {
    transform: translate(1px, 1px);
  }
}
