<section>
    <div class="hero">
    <img src="../img/shoe.jpg" class="hero-image" alt="">
    <h1 class="hero-text">One Liner Goes Here</h1>
    {{#link-to "resources" class="hero-button"}}I Need Shelter{{/link-to}}
    </div>
</section>
<section>
<div class="container">
  <div class="category">
    <h2 class="category-header">Search For Community Resources</h2>
    <div class="category-dropdown">
      <select class="category-dropdown--text">
        <option class="category-dropdown--text category-dropdown--text__cat1">{{#link-to "resources"}}House{{/link-to}}</option>
        <option class="category-dropdown--text category-dropdown--text__cat2"><a href="#!">Food</a></option>
        <option class="category-dropdown--text category-dropdown--text__cat3"><a href="#!">Clothing</a></option>
      </select>
    </div>
<!-- Dropdown Structure -->
  </div>
</div>
</section>
<section>
  <div class="container">
    <div class="localcommunity">
      <h2 class="localcommunity-header">Local Community Resources</h2>
      <div class="localcommunity-card">
        <span class="localcommunity-card--content localcommunity-nonprofit">Non-profit Organization</span>
        <span class="localcommunity-card--content localcommunity-posted">posted</span>
        <span class="localcommunity-card--content">1 day ago</span>
      </div>
      <div class="localcommunity-card">
        <span class="localcommunity-card--content">here you list what items you have</span>
        <span class="localcommunity-card--content localcommunity-right">phone number</span>
      </div>
    </div>
  </div>
</section>
