<section>
  <div class="container">
    <div class="hero">
    <img src="./img/shoe.jpg" class="hero-image" alt="">
    <h1 class="hero-text">One Liner Goes Here</h1>
    {{#link-to "resources.er" class="hero-button"}}I Need Shelter{{/link-to}}
    </div>
  </div>
</section>
<section>
<div class="container">
  <div class="category">
    <h2 class="category-header">Search For Community Resources</h2>
    <div class="category-dropdown">
      <h2 class="category-dropdown--text">Choose a Category<i class="fa fa-angle-down" aria-hidden="true"></i></h2>
    </div>
  </div>
</div>
</section>
