
  <div class="admin-page">
    <div class="admin-links">
      {{#link-to "admin.user"}}Users{{/link-to}}
      {{#link-to "admin.pledge"}}Pledges{{/link-to}}
      {{#link-to "admin.resources"}}Resources{{/link-to}}
      {{#link-to "admin.category"}}Categories{{/link-to}}
    </div>
    {{outlet}}
  </div>
