<div class="hello">You Are In Admin, Enjoy Your Unlimited Power</div>
<div class="admin-page">
  <div class="admin-links">
    {{#link-to "admin.user"}}Users{{/link-to}}
    {{#link-to "admin.pledge"}}Pledges{{/link-to}}
    {{#link-to "admin.resources"}}Resources{{/link-to}}
    {{#link-to "admin.category" class="flex-grow"}}Categories{{/link-to}}
  </div>

  <div class="admin__content">{{outlet}}</div>
</div>
