<div class="main-content__detail">
{{#link-to 'resources'}}  <span class="fa fa-times main-content__detail--times"></span>{{/link-to}}
  <h2>{{model.name}}</h2>
  <h4>{{model.address}}</h4>
  <h4>{{model.phone}}</h4>
  <h4>{{model.website}}</h4>
</div>
