  <nav class="nav">
    <div class="nav-left">
      <img src="/img/logo2.svg" class="logo" alt="">
      <h1 class="nav-item is-brand">{{#link-to "index"}}Safety Net{{/link-to}}</h1>
    </div>
    <ul class="nav-right__column">
      <span onsubmit="{{action "displayMenu"}}" class="nav-right__hamburger fa fa-bars"></span>
      <span onsubmit="{{action "closeMenu"}}" class="nav-right__ex fa fa-times"></span>
      <li class="nav-er--button nav-right__mobile">{{#link-to "resources"}}I Need Shelter{{/link-to}}</li>
      <li class="nav-right__mobile">{{#link-to "about"}}About{{/link-to}}</li>
      <li class="nav-right__mobile">{{#link-to "sign-up"}}Sign-Up{{/link-to}}</li>
      <li class="nav-right__mobile">{{#link-to "login"}}Login{{/link-to}}</li>
      <li class="nav-right__mobile">{{#link-to "logout"}}Logout{{/link-to}}</li>
    </ul>
    <ul class="nav-right__row">
      <li class="nav-er--button nav-right__desktop">{{#link-to "resources"}}I Need Shelter{{/link-to}}</li>
      <li class="nav-right__desktop">{{#link-to "about"}}About{{/link-to}}</li>
      <li class="nav-right__desktop">{{#link-to "sign-up"}}Sign-Up{{/link-to}}</li>
      <li class="nav-right__desktop">{{#link-to "login"}}Login{{/link-to}}</li>
      <li class="nav-right__desktop">{{#link-to "logout"}}Logout{{/link-to}}</li>
    </ul>

  </nav>

  {{outlet}}
