  <nav class="nav">
    <div class="nav-left">
      <img src="../img/safetynet.png" class="logo" alt="">
      <h1 class="nav-item is-brand">{{#link-to "index"}}Safety Net{{/link-to}}</h1>
    </div>
    <ul class="nav-right">
      <li class="nav-er--button">{{#link-to "resources.er"}}I Need Shelter{{/link-to}}</li>
      <li>{{#link-to "about"}}About{{/link-to}}</li>
      <li>{{#link-to "sign-up"}}Sign-Up{{/link-to}}</li>
      <li>{{#link-to "login"}}Login{{/link-to}}</li>
    </ul>
  </nav>
  {{outlet}}
