<section>
  <div class="container">
    <h2 class="about-header">About</h2>
    <p class="about-text">
      Established in 2016 at the Iron Yard in Nashville, Safety Net was created by Shaun Willis and Derrick Bray who
      wanted to do more than just solve technical coding issues.
      From day 1, Safety Net's core values have been to put the victims who visit our site to feel safe and secure.
      With that in mind, they created a space for only non-profits to sign-up. Shaun said, "We were very intentional in doing this,
      because we wanted to keep victim's who visit the site feel that this is a place they could get help and feel safe.
       We didn't want them to have to sign-up in order to get help, so we simplified the process down to only take a few simple steps before
      finding the help that they needed."
    </p>
    <p class="about-text">  Both men spent two and a half weeks long, and brought their unique skills together to build a web app that redefines
      the way people discover a helping hand in their local community.
      Safety Net achieved this by connecting victims with resources in their local community with the help of non-profits.


    </p>
  </div>
</section>

{{outlet}}
