<div class="grid">
  <div class="grid-left">
    <div class="admin__title">Users</div>
    <div class="admin-side__card">
      <div class="user-org">Nash Rescue Mission</div>
      <div class="button-box">
        {{#link-to "admin.user.detail" class="btn" }}Details{{/link-to}}
        {{#link-to "admin.user.edit" class="btn" }}Edit{{/link-to}}
        <button type="submit" class="btn">Approve</button>
      </div>
    </div>
    <div class="admin-side__card">
      <div class="user-org">Nash Rescue Mission</div>
      <div class="button-box">
        {{#link-to "admin.user.detail" class="btn" }}Details{{/link-to}}
        {{#link-to "admin.user.edit" class="btn" }}Edit{{/link-to}}
        <button type="submit" class="btn">Approve</button>
      </div>
    </div>
    <div class="admin-side__card">
      <div class="user-org">Nash Rescue Mission</div>
      <div class="button-box">
        {{#link-to "admin.user.detail" class="btn" }}Details{{/link-to}}
        {{#link-to "admin.user.edit" class="btn" }}Edit{{/link-to}}
        <button type="submit" class="btn">Approve</button>
      </div>
    </div>
  </div>
  <div class="grid-right">{{outlet}}</div>
</div>
