<div class="hello">Hello {current user}, Manage Your Pledges</div>
<div class="grid">
  <div class="grid-left">
    <div class="admin__title">My Pledges</div>
    {{#link-to "user.pledge.create" class="category__link-full" }}Make a New Pledge ->{{/link-to}}
    <div class="admin-side__card">
      <div class="user-pledge">20 cans of corn</div>
      <div class="user-pledge__end">Dec. 25 2016</div>
      <div class="button-box">
        {{#link-to "user.pledge.edit" class="btn" }}Edit{{/link-to}}
        <button type="submit" class="btn">Claimed</button>
      </div>
    </div>
    <div class="admin-side__card">
      <div class="user-pledge">20 cans of corn</div>
      <div class="user-pledge__end">Dec. 25 2016</div>
      <div class="button-box">
        {{#link-to "user.pledge.edit" class="btn" }}Edit{{/link-to}}
        <button type="submit" class="btn">Claimed</button>
      </div>
    </div>
    <div class="admin-side__card">
      <div class="user-pledge">20 cans of corn</div>
      <div class="user-pledge__end">Dec. 25 2016</div>
      <div class="button-box">
        {{#link-to "user.pledge.edit" class="btn" }}Edit{{/link-to}}
        <button type="submit" class="btn">Claimed</button>
      </div>
    </div>
  </div>
  <div class="grid-right">
    {{outlet}}
  </div>
</div>
