{{outlet}}
<div class="detail">
  <div class="detail-card">
    <div class="detail-card__title">User detail</div>
    <div class="user-org">Nash rescue mission</div>
    <div class="user-address">123 street</div>
    <div class="button-box">
      <button type="submit" class="btn">Approve</button>
      <button type="submit" class="btn">Make Admin</button>
      <button type="submit" class="btn">Delete</button>
    </div>
  </div>
</div>
