{{outlet}}
<div class="detail">
  <div class="detail-card">
    <div class="detail-card__title">Edit Pledge</div>

    {{#simple-form class="card__form" onsubmit=(action "updatePledge") as | formValues |}}
      {{input class="form__input" type="text" required=true value=formValues.name placeholder="Pledge"}}
      {{input class="form__input" type="text" required=true value=formValues.name placeholder="End Date"}}
      <div class="button-box">
        <button type="submit" class="btn">Update</button>
      </div>
    {{/simple-form}}
  </div>
</div>
